.months-slider {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding-top: 2vw;
    padding-left: 6vw;
    padding-bottom: 1vw;
    padding-right: 6vw;
}

.months-slider .referenciasFechas {
    display: flex;
    justify-content: space-between;
}

.months-slider .referenciasFechas .fechaInicio {
    color: #2b3bcd;
    text-align: left;
}

.months-slider .referenciasFechas .fechaCierre {
    color: #2b3bcd;
    text-align: right;
}

.referenciasFechas h6 {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*TV TABLET 768px*/
@media (min-width: 768px) {
    .months-slider {
        padding-right: 2vw;
        padding-left: 2vw;
    }
}

/*TV RESPONISVE 1200px*/
@media (min-width: 1200px) {
    .months-slider {
        padding-right: 2vw;
        padding-left: 2vw;
    }
}