.AttackDetail {
  width: 250px;
  height: 300px;
  color: white;
  background-color: #85878cee;
  border-radius: 10px;
  overflow: hidden;
  padding: 8px 8px;
  display: flex;
  flex-direction: column;
}

.closeButtonRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}

.closeButton {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: none;
  border: 2px solid #ffffff50;
  color: #ffffff90;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.AttackDetail>.attackDetailContent,
.AttackDetail>.foot {
  padding-right: 22px;
  padding-left: 12px;
}

.AttackDetail>.attackDetailContent {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  gap: 0.3rem;
  flex-shrink: 2;
  overflow-y: scroll;
  scrollbar-width: none;
}

.AttackDetail h4 {
  text-align: initial;
}

.attackTitle {
  text-align: initial;
  font-size: 20px;
  line-height: 19px;
  font-weight: 900;
  color: white;
  /* Prevent title from being more than 2 lines long */
  max-height: 42px;
  overflow: hidden;
  /* But also prevent it from shrinking */
  flex-shrink: 0;
}

.attackType {
  color: black;
  border-radius: 16px;
  background: linear-gradient(to right, #ffffff00, #ffffff66);
}

.moreInfo {
  text-align: start;
  cursor: pointer;
}

.moreInfo p {
  font-size: 0.9em;
  cursor: initial;
}

.typeOfHate {
  text-align: start;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-shrink: 0;
  flex-grow: 1;
  padding-top: 10px;
}

.date {
  font-size: 16px;
  color: white;
}

.viewMoreLink {
  background-color: white;
  color: black;
  text-decoration: none;
  border: none;
  padding: 0.5vh 1.5vw;
  border-radius: 25px;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}