.analisis {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  background-color: #2b3bcd;
  padding: 20px 0px;
  padding-top: 12vh;
  position: relative;
}

.analisis:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url(../radarPuntos.png);
  background-origin: border-box;
  background-size: 120vh 80vh;
  background-repeat: no-repeat;
  background-position: 50vw 20%;
}

.analisisHeader {
  padding-bottom: 5vh;
  color: white;
}

.tituloAnalisisRadar {
  font-size: 1.3rem;
  text-align: left;
  font-family: "LuxoraBold";
  padding-right: 6vw;
  padding-left: 4vw;
  z-index: 2000;
  color: white;
}

@media (min-width: 1200px) {
  .tituloAnalisisRadar {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .tituloAnalisisRadar {
    font-size: 2rem;
  }
}

.tituloAnalisis {
  font-size: 1.3rem;
  text-align: left;
  padding-right: 50vw;
  color: rgb(118, 138, 227);
  padding-left: 4vw;
}

.analisisTituloSec {
  font-size: 0.4rem;
}

.analisisDatos {
  display: grid;
  grid-template-columns: 1fr;
  padding: 4vw 8vw;
  color: white;
  column-gap: 8vw;
  width: 100vw;
}

.analisisCasos {
  font-size: 2rem;
  width: 60vw;
  margin-left: 4vw;
  color: white;
}

.enConstruccion {
  font-size: 1.2rem;
  padding-top: 5vh;
  font-family: "Luxora";
  padding: 0vh 10vw;
  width: 100vw;
}

.analisisTextoFinal {
  color: white;
  font-size: 1rem;
  padding: 0vh 22vw;
  padding-bottom: 2vh;
}

.aclaracionAnalisis {
  font-size: 0.8rem;
  padding-bottom: 4vh;
  padding: 0vh 10vw;
  color: rgb(118, 138, 227);
}

.datoN2 {
  width: 40vw;
  font-size: 2rem;
  text-align: left;
  color: rgb(118, 138, 227);
}

.datos2 {
  width: 90vw;
  border-left: solid;
  border-width: 1px;

  border-color: white;
  padding: 0vh 3vw;
  justify-self: center;
  margin: 2vh 0vw;
  text-align: left;
}

.datos2 {
  border-color: rgb(255, 166, 0);
}

.textAnalisis {
  color: white;
  font-size: 0.7rem;
  text-align: justify;
  padding: 0vh 1vw;
  text-transform: uppercase;
  font-family: "Luxora";
}

.analisisCasos {
  padding-top: 5vh;
  padding-bottom: 1vh;
  text-align: left;
  border-bottom: solid;
  width: 50vw;
  border-width: 0.5vh;
  font-family: "LuxoraBold";
}

.analisisCasosBajada {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.8rem;
  padding-top: 1vh;
  padding-left: 4vw;
  color: white;
}

.enConstruccion {
  color: rgb(118, 138, 227);
}

/*== Responsive==*/

/*== tablet==*/

@media (min-width: 768px) {

  .analisisHeader {
    padding: 0vw 8vw;
    padding-bottom: 10vh;
  }

  .analisisDatos {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0px 10vw;
    column-gap: 0px;
    column-gap: 0.5vw;
    width: 100vw;
  }

  .datoN2 {
    width: 12vw;
    font-size: 2rem;
    padding: 0vh 0vw;
  }

  .datos2 {
    width: 14.8vw;
  }

  .textAnalisis {
    width: 10vw;
    color: white;
    font-size: 0.7rem;
    text-align: left;
    padding: 0vh 0vw;
  }

  .analisisCasos {
    width: 25vw;
  }
}

/*  PC  */

@media (min-width: 1200px) {

  .tituloAnalisisRadar {
    padding-right: 40vw;
  }

  .enConstruccion {
    padding-top: 5vh;
  }

  .analisisDatos {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0px 15vw;
    column-gap: 0px;
    column-gap: 0.5vw;
    width: 100vw;
  }

  .tituloAnalisis {
    padding-right: 10vw;
  }

  .aclaracionAnalisis {
    padding-bottom: 5vh;
  }
}