.Landing {
  background-color: white;
  text-align: center;
  width: 100vw;
  position: relative;
  overflow: hidden; /* Asegura que todo se quede dentro del contenedor */
  background: linear-gradient(20deg, rgba(10, 13, 21, 0.5), rgba(41, 47, 54, 0.5)); /* Fondo opaco */
}

:global(.maplibregl-map) {
  opacity: 0.8; /* Los markers no tendrán opacidad afectada */
}


.reportButton {
  position: absolute;
  right: 64px;
  top: 32px;

  border-radius: 30px;
  height: 35px;
  width: 95px;
  border: none;

  text-transform: uppercase;
  font-family: "Ronnia Condensed Regular";
  font-size: 17px;
  background: var(--radar-sky-blue);
  color: var(--radar-black);
  transition: background-color 0.25s;
}

.reportButton:focus {
  border: 1px solid black;
}

.reportButton:focus,
.reportButton:hover {
  background-color: var(--radar-grey);
}

.attackDetail {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -00%);
  z-index: 10;
  bottom: 30vh;
}

.Landing .desktopMonthsSlider {
  display: none;
}

.desktopNumberAndFilters {
  display: none;
}

.versionNumber {
  display: none;
}

.edipoLogo {
  display: none;
}

/* PC */
@media (min-width: 1200px) {

  .mobileFiltersDrawer {
    display: none;
  }

  .reportButton {
    display: none;
  }

  :global(.maplibregl-control-container) {
    opacity: 80%;
    position: absolute;
    top: 95px;
    right: 64px;
  }

  .attackDetail {
    transform: none;
    left: 120px;
    bottom: unset;
    top: 160px;
  }

  .floatingButtonWithIcon {
    background: none;
    border: 2px solid var(--radar-white);
    border-radius: 100%;
    color: var(--radar-white);
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
  }

  .floatingButtonWithIcon svg {
    stroke-width: 1;
  }

  .floatingButtonWithIcon:hover,
  .floatingButtonWithIcon:focus {
    color: #ffffff;
    background-color: #ffffff30;
  }

  .Landing .desktopMonthsSlider {
    display: flex;
    position: absolute;
    bottom: 0;
    /* Center horizontally*/
    left: 50%;
    transform: translate(-50%, -00%);
    width: 50vw;
  }

  .desktopNumberAndFilters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 57px;
    right: 64px;
  }

  .visibleCasesSummary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .edipoLogo {
    color: var(--radar-white);
    text-decoration: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: block;
    position: absolute;
    bottom: 16px;
    left: 64px;
    font-weight: bold;
    transition: all 0.25s;
    outline: none;
  }

  .edipoLogo:focus,
  .edipoLogo:hover {
    color: var(--radar-grey);
  }

  .versionNumber {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: block;
    position: absolute;
    bottom: 16px;
    right: 64px;
    color: var(--radar-white);
  }

  .Landing .desktopFiltersByType {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }

  .Landing .numberOfAttacks {
    font-size: large;
    width: 90px;
  }
}