/* These are global styles, which ideally should be removed eventually */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

h1,
h2,
h5,
h3,
h4 {
  font-family: "Luxora";
}

h3 {
  font-size: 10px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 10px;
}

h2 {
  font-size: 8px;
}

h5 {
  font-size: 5px;
}

p {
  font-family: luxora;
}