.Landing {
  background-color: white;
  text-align: center;
  width: 100vw;
  position: relative;
}

.reportButton {
  position: absolute;
  right: 60px;
  top: 30px;

  border-radius: 30px;
  height: 35px;
  width: 95px;
  border: none;

  text-transform: uppercase;
  font-family: "Ronnia Condensed Regular";
  font-size: 17px;

  background: linear-gradient(var(--radar-white) 4%, var(--radar-sky-blue) 43%);
  color: var(--radar-black);
}

.attackDetail {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -00%);
  z-index: 10;
  bottom: 30vh;
}

/* PC */
@media (min-width: 1200px) {
  .attackDetail {
    left: 20vw;
    bottom: unset;
    top: 20vh;
  }
}