.Landing {
  background-color: white;
  text-align: center;
  width: 100vw;
  position: relative;
}

.lower-floating-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 72vh;
  left: 4vw;
  /* TODO: este valor de index deberia ser alguna constante  definida*/
  z-index: 10000;
  gap: 2vw;
}

/*------responsive------*/

/*TV TABLET 768px*/
@media (min-width: 768px) {
  .lower-floating-buttons {
    position: absolute;
    top: 72vh;
    left: 30vw;
    width: 55vw;
    z-index: 0;
  }
}

/*TV RESPONISVE 1200px*/
@media (min-width: 1200px) {
  .lower-floating-buttons {
    position: absolute;
    top: 872h;
    left: 20vw;
    width: 69vw;
    z-index: 0;
  }
}