.circulo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transform: translate(-20%, -20%);
}

.circulo::before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    position: absolute;

    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transform: translate(-50%, 20%);
    background-color: inherit;
    opacity: 1;
}

.circulo:after {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;

    align-items: center;
    justify-content: center;
    opacity: 0.2;
    transform: translate(-50%, -20%);
    background-color: inherit;
    margin: auto;
}

.circulo:hover {
    background-color: rgb(52, 7, 7);
    transform: scale(1.5);
}

/* Estilo para el marcador seleccionado */
.circulo.selected {
    background-color: rgb(52, 7, 7);
    transform: scale(1.5);
}