.section {
  background: linear-gradient(20deg, #0a0d15, #292f36);
  padding: 0px 1rem;
  padding-bottom: 5rem;
  padding-top: 1rem;
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  padding: 0.5rem 2rem;
  padding-top: 1rem;
  color: #d7dee7;
  display: flex;
  align-items: end;
  padding-bottom: 2rem;
}

.headerIcon {
  color: #297fef;
  font-size: 4rem;
  text-shadow: 0 0 10px #297fef, 0 0 30px #297fef, 0 0 50px #297fef;
  filter: drop-shadow(0 0 20px #297fef);
}

.title {
  font-size: 2rem;
  text-align: left;
  padding-left: 1rem;
}

.content {
  padding: 1rem 5rem;
  height: 65vh;
  border-radius: 60px;
  background: linear-gradient(90deg, #297fef, #295690a1);
  box-shadow: inset 20px -30px 90px rgba(77, 206, 235, 0.505);
  padding-top: 4rem;
}

.solidContainer {
  display: flex;
  justify-content: center;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.4),
    0px -5px 8px 5px rgba(211, 211, 211, 0.15),
    5px 5px 20px 0px rgba(130, 173, 237, 0.1);
  border-radius: 20px;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  background: linear-gradient(0deg, #0a0d15, #010408a7);
}

.mailIcon {
  font-size: 4rem;
  align-self: center;
}

.solidButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 25px;
  background: linear-gradient(0deg, #0a0d15, #010408a7);
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.4),
    0px -5px 8px 5px rgba(211, 211, 211, 0.15),
    5px 5px 20px 0px rgba(130, 173, 237, 0.1);
  color: #d7dee7;
  text-decoration: none;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.ingresarText {
  font-size: 1.5rem;
  font-weight: 600;
  color: #d7dee7;
  transition: filter 0.3s;
}

.term h3 {
  font-size: 1.4rem;
  padding-left: 1.5rem;
  padding-bottom: 3rem;
  padding-top: 1.5rem;
  color: #151616;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}

.term h2 {
  font-size: 1.3rem;
  text-align: left;
  margin-top: 0rem;
  margin-bottom: 0.2rem;
}

.term h4 {
  padding: 0rem 0rem 0.5rem 0rem;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  padding: 0rem 1rem;
  list-style-type: none;
  width: 35vw;
  height: 100%;
  color: #d7dee7;
}

.newsletterLink {
  text-decoration: none;
  display: block;
  transition: transform 0.1s ease-in-out;
}

.newsletterLink:hover {
  filter: drop-shadow(0 0 10px #188fff2f);
}

.newsletterLink:hover .mailIcon {
  color: #d7dee7;
  filter: drop-shadow(0 0 10px #ffffff);
}

.newsletterLink:hover .solidButton {
  transform: scale(0.98);
  background: #0f0f0f;
}

.deco {
  position: fixed;
  top: -5vh;
  left: 0;
  margin-top: 5vh;
  width: 100%;
  height: 3px;
  background: linear-gradient(20deg, #0a0d1500, #297fef);
  border-radius: 360px;
}

@media (min-width: 1200px) {
  .section {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .header {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 2rem auto;
  }

  .content {
    max-width: 900px;
    width: 100%;
    padding: 5rem 4rem;
    border-radius: 40px;
    height: fit-content;
  }

  .solidContainer {
    max-width: 30vw;
    margin: 0 auto 2rem auto;
    padding: 1.5rem 2rem;
  }

  .blueContainer {
    min-width: 200px;
    max-width: 300px;
    padding: 0.75rem 2rem;
  }

  .description {
    font-size: 1.2rem;
    padding: 0;
    width: auto;
  }

  .term h3 {
    font-size: 1.8rem;
    padding: 1rem 1rem 1.5rem 1rem;
    text-align: center;
    max-width: 80%;
    margin: auto;
  }

  .deco {
    height: 5px;
    background: linear-gradient(20deg, #0a0d1500, #297fef);
    border-radius: 360px;
  }

  .solidButton {
    padding: 0.5rem 2rem;
    max-width: 45%;
    margin: auto;
  }

  .mailIcon {
    font-size: 3.5rem;
  }
}