.Novedades {
  background: linear-gradient(20deg, #0a0d15, #292f36);
  padding: 1rem 1rem 5rem 1rem;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.subscribePrompt {
  color: var(--radar-white);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  border-radius: 60px;
}

.mailIcon {
  font-size: 4rem;
  align-self: center;
}

.newsletterLink {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2rem;
  border-radius: 25px;
  background: linear-gradient(0deg, #0a0d15, #010408a7);
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.4),
    0px -5px 8px 5px rgba(211, 211, 211, 0.15),
    5px 5px 20px 0px rgba(130, 173, 237, 0.1);
  color: #d7dee7;
  text-decoration: none;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.ingresarText {
  font-size: 1.5rem;
  font-weight: 600;
  color: #d7dee7;
  transition: filter 0.3s;
}

.subscribePrompt h3 {
  font-size: 1.4rem;
  padding-bottom: 3rem;
  padding-top: 1.5rem;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  text-align: justify;
}

.newsletterLink {
  text-decoration: none;
  transition: transform 0.1s ease-in-out;
}

.newsletterLink:hover {
  filter: drop-shadow(0 0 10px #188fff2f);
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.4),
    0px -5px 8px 5px rgba(17, 89, 175, 0.15),
    5px 5px 20px 0px rgba(130, 173, 237, 0.1);
  transform: scale(0.98);

}

.newsletterLink:hover .mailIcon {
  filter: drop-shadow(0 0 10px #ffffff);
}

.deco {
  position: fixed;
  top: -5vh;
  left: 0;
  margin-top: 5vh;
  width: 100%;
  height: 3px;
  background: linear-gradient(20deg, #0a0d1500, #297fef);
  border-radius: 360px;
}

@media (min-width: 1200px) {
  .Novedades {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }


  .subscribePrompt {
    max-width: 900px;
    width: 100%;
    padding: 4rem 4rem;
    border-radius: 40px;
    height: fit-content;
  }

  .subscribePrompt h3 {
    font-size: 1.8rem;
    padding: 1rem 1rem 1.5rem 1rem;
    text-align: center;
    max-width: 80%;
  }

  .deco {
    height: 5px;
  }

  .newsletterLink {
    padding: 1rem 2rem;
    max-width: 45%;
  }

  .mailIcon {
    font-size: 3.5rem;
  }
}