.floatingLogo {
  width: 100px;
  display: flex;
  position: absolute;
  left: 64px;
  top: 32px;
  fill: white;
  z-index: 1;
  transition: fill 0.5s;
}

a:focus>.floatingLogo {
  fill: var(--radar-sky-blue);
}

.reportButton {
  position: absolute;
  top: 36px;
  right: 64px;

  height: 40px;
  width: 120px;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  font-family: "Ronnia Condensed Regular";
  font-size: 17px;
  background: var(--radar-sky-blue);
  color: var(--radar-black);
  transition: background-color 0.25s;
  z-index: 1;
}

.reportButton:focus,
.reportButton:hover {
  background-color: var(--radar-grey);
}

.heading {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translate(-50%, -00%);
  width: 800px;
  height: 48px;
  z-index: 1;

  border-radius: 35px;
  background-color: #ffffff50;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.heading svg {
  /* Make them have the height of their container always */
  height: 100%;
  color: #a4aeb9;
}

.heading a {
  text-decoration: none;
  color: var(--radar-white);
  transition: color 0.5s;
  height: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.heading a:hover,
.heading a:focus {
  outline: none;
  color: var(--radar-sky-blue);
  fill: var(--radar-sky-blue);
}

.heading :global(a.active svg) {
  color: #739dff;
  fill: var(--radar-sky-blue);
}


.isotypeImg {
  fill: var(--radar-grey);
}

/* Hide on mobile */
@media (max-width: 1200px) {
  .heading {
    display: none;
  }

  .floatingLogo {
    display: none;
  }

  .reportButton {
    display: none;
  }
}