.negritaTitulo {
  padding-right: 10px;
}

.conecta {
  background: linear-gradient(20deg, #0a0d15, #292f36);
  padding: 0 1rem 5rem 1rem;
  padding-top: 3rem;
}

.content {
  border: solid 1px #297fef;
}

.conectaTitulo {
  color: #ffffff;
  font-size: 1.8rem;
  color: #297fef;
  text-shadow: 0 0 40px #297fef77;
}

.conectaTextRadar {
  padding: 0 5vw;
  padding-top: 5vh;
  color: white;
  font-size: 1rem;
  text-align: justify;
  font-size: 1.2rem;
}

.siTeInteresa {
  margin-top: 1.5rem;
  padding: 2vh 2vw;
  color: #297fef;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 60px;
  align-self: center;
}

.siTeInteresa a {
  color: #297fef;
}

.radarDecoImg {
  opacity: 0.1;
  position: absolute;
  top: 10vh;
  right: 20vw;
  height: 80vh;
  filter: drop-shadow(0 0 30px #ffffff);
}

.circle {
  transform-origin: 100px 100px;
  animation: rotate 6s linear infinite, dash 4s ease-in-out infinite alternate;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 0, 565;
  }

  25% {
    stroke-dasharray: 140, 425;
  }

  50% {
    stroke-dasharray: 280, 285;
  }

  75% {
    stroke-dasharray: 420, 145;
  }

  100% {
    stroke-dasharray: 565, 0;
  }
}

/*== tablet==*/
@media (min-width: 768px) {
  .conecta {
    width: 100vw;
    padding: 20vh 15vw;
    padding-bottom: 6vh;
    height: 100vh;
  }

  .conectaTitulo {
    color: #ffffff;
    font-size: 1.1rem;
    padding: 0vh 5vw;
    text-align: right;
  }

  .conectaSubtitulo {
    color: #297fef;
    font-size: 1.8rem;
    padding: 0vh 5vw;
    text-align: left;
    max-width: 40vw;
  }

  .conectaTextRadar {
    padding: 0vh 4vw;
    padding-top: 5vh;
    color: white;
    font-size: 1.2rem;
    text-align: justify;
  }
}

@media (min-width: 1200px) {
  .conectaTitulo {
    color: #297fef;
    font-size: 6rem;
    padding: 0vh 5vw;
    text-align: left;
  }

  .conectaTextRadar {
    padding: 0vh 4vw;
    padding-top: 5vh;
    color: white;
    font-size: 1.2rem;
    text-align: justify;
    padding-right: 15vw;
  }
}