.filtros {
  position: absolute;
  top: 6vh;
  padding: 3px;
  padding-left: 5px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.filtros>header {
  background-color: white;
  color: black;
  border-radius: 20px;
  text-align: left;
  padding-left: 5vw;
  height: 11vh;
  width: 15vh;
}

.cantCasos {
  font-size: 2rem;
  text-align: left;
}

.filtrosPorTipo {
  margin-top: 5px;
  padding: 5px 5px;
  background-color: white;
  color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  width: 50vw;
}

.tipo {
  display: flex;
  flex-direction: column;
  padding: 7px 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tipoLabel {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}


.tipoIcon {
  width: 23px;
  height: 23px;
  border-radius: 5px;
  padding-left: 4px;
  margin-right: 5px;
  flex-shrink: 0;
}

.tipo1Icon {
  background-color: rgb(252, 252, 114);
}

.tipo2Icon {
  background-color: rgb(255, 166, 0);
}

.tipo3Icon {
  background-color: rgb(251, 55, 25);
}

.tipoDescription {
  font-size: 10px;
}

/*== Responsive==*/

/*== tablet==*/

@media (min-width: 768px) {

  .filtros {
    padding: 5px;
    padding-left: 15px;
  }

  .filtros>header {
    width: 18vw;
    height: 13vh;
  }

  .filtrosPorTipo {
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    text-align: center;
    min-width: 18vw;
    align-items: stretch;
  }

  .tipoLabel {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1vh;
    width: 60px;
  }

  .tipoLabel>p {
    margin: 0;
  }

  .tipoDescription {
    font-size: 10px;
  }
}