.drawerContainer {
    width: fit-content;
    left: 2vw;
    position: absolute;
}

.drawerInnerContent {
    position: relative;
    width: 96vw;
    background-color: var(--radar-background);
    border-radius: 10px;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.2),
        inset 5px 5px 5px 0px rgba(255, 255, 255, 0.5);
}

.hiddenContentContainer {
    overflow: "hidden";
}

.hiddenContentContainer.open {
    transition-timing-function: ease-out;
}

.hiddenContentContainer.closed {
    transition-timing-function: ease-in;
}

.upperFloatingButtonsContainer {
    position: absolute;
    /* The difference between the height and the top value creates a margin between the container and the drawer itself */
    top: -50px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightSideFloatingButtons {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.numberOfAttacks,
.floatingButtonWithIcon {
    border: 2px solid var(--radar-white);
    color: var(--radar-white);
}

.numberOfAttacks {
    width: 130px;
    height: 40px;
    border-radius: 17px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

.floatingButtonWithIcon {
    background: none;
    width: 37px;
    height: 37px;
    border-radius: 100%;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floatingButtonWithIcon:hover,
.floatingButtonWithIcon:focus,
.floatingButtonWithIcon:active {
    border-color: var(--radar-background);
    color: var(--radar-background);
}