.numberOfAttacks {
    border: 2px solid var(--radar-white);
    color: var(--radar-white);
    width: 130px;
    height: 40px;
    border-radius: 17px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}