.section {
    background: linear-gradient(180deg, #0a0d15, #297fef);
    padding: 0px 1rem;
    padding-bottom: 5rem;
    padding-top: 1rem;
}

.header {
    padding: 0.5rem 2rem;
    padding-top: 1rem;
    color: #d7dee7;
    display: flex;
    align-items: end;
    padding-bottom: 2rem;
}

.headerIcon {
    color: #297fef;
    font-size: 4rem;
    text-shadow: 0 0 10px #297fef, 0 0 30px #297fef, 0 0 50px #297fef;
    filter: drop-shadow(0 0 20px #297fef);
}

.title {
    font-size: 2rem;
    text-align: left;
    padding-left: 1rem;
    }

.subTitle {
    font-size: 1rem;
    padding: 0 2rem;
    padding-bottom: 2rem;
    text-align: justify;
    color: #297fef;
}

.term {
    border: solid 1px #297fef;
    box-shadow: inset -5px -5px 10px 0px rgba(0, 0, 0, 0.2),
        inset 5px 5px 20px 0px rgba(130, 173, 237, 0.1);
    border-radius: 25px;
    margin-bottom: 1rem;
    height: fit-content;
    padding-bottom: 3rem;
    background-color: #151616b6;
}

.term h3 {
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #151616;
    background: linear-gradient(20deg, #297fef, #204776);
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    
}

.term h2 {
    font-size: 1.3rem;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    
}

.term h4 {
    padding: 2rem 0rem 0.5rem 0rem;
}

.description {
    font-size: 1.2rem;
    text-align: justify;
    padding: 2rem 2rem;
    list-style-type: none;
}

.content ul {
    list-style: none;
}

.deco {
    position: fixed;
    top: -5vh;
    left: 0;
    margin-top: 5vh;
    width: 100%;
    height: 3px;
    background: linear-gradient(20deg, #0a0d1500, #297fef);
    border-radius: 360px;
}

@media (min-width: 1200px) {
    .section {
        min-width: 98.7vw;
        padding-top: 8rem;
    }

    .content {
        gap: 1rem;
        padding: 0vh 8vw;
        justify-content: space-around;
    }

    .header {
        max-width: 35%;
        margin-left: 10rem;
    }

    .subTitle {
        font-size: 1.2rem;
        padding: 0 15rem;
        padding-bottom: 2rem;
        text-align: justify;
    }

    .description {
        font-size: 1.3rem;
        padding: 2rem 8rem;
    }

    .term h3 {
        font-size: 2rem;
        padding: 1rem 8rem;
    }

    .deco {
        height: 5px;
        background: linear-gradient(20deg, #0a0d1500, #297fef);
        border-radius: 360px;
    }
}