.heading {
  position: fixed;
  bottom: 0;
  left: 1vw;
  width: 98vw;
  height: 10vh;
  min-height: 2.5rem;
  color: #00425a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 2rem;
  z-index: 1;
  background-color: red;
  border-radius: 20px;
}

.heading a {
  text-decoration: none;
  color: #5a5a5a;
  transition: color 0.5s;
}

.heading a:hover {
  color: #303030;
}


.logoImg {
  width: 70px;
  margin-right: 0.5rem;
}

.pagesNavLinks {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
  margin-right: 5rem;
  gap: 3rem;
}

.menuImg {
  width: 100px;
  justify-self: right;
}


/* mobile */

@media (max-width: 700px) {


  .pagesNavLinks {
    font-size: 0.8rem;
    gap: 0.5rem;
    margin: 0;
    flex-grow: 0;

  }

  .menuImg {
    display: none;
  }
}