#footer{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#desarrolladoX{
    background-color: white;
    color: blue;
    font-size: 0.7rem;
    padding: 2vh 1vw;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: inline; /* Hace que el elemento sea en línea en lugar de bloque */
}


#edipo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    width: 25px;
    color: black;
    display: inline; /* Hace que el elemento sea en línea en lugar de bloque */


}


#Desarrollo{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    align-content: center;
    align-self: center;

}


@media (min-width: 768px){
    #footer{
        display: grid;
        grid-template-columns: 4fr 1fr;
        
    }


}