.tipo {
    display: flex;
    flex-direction: column;
    padding: 7px 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tipoLabel {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
}

.tipoIcon {
    width: 23px;
    height: 23px;
    border-radius: 5px;
    padding-left: 4px;
    margin-right: 5px;
    flex-shrink: 0;
}

.tipoDescription {
    font-size: 10px;
}

/*== Responsive==*/

/*== tablet==*/

@media (min-width: 768px) {

    .tipoLabel {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1vh;
        width: 60px;
    }

    .tipoLabel>p {
        margin: 0;
    }

    .tipoDescription {
        font-size: 10px;
    }
}