.notas {
  width: 100vw;
  height: 92vh;
  background-color: white;
}

.notasContainer {
  padding: 20px 12vw;
  padding-top: 25vh;
  height: 90vh;
  color: #2b3bcd;
}

.tituloNota {
  font-size: 2rem;
}

.notasItemContainer {
  border-style: inset;
  border-color: #2b3bcd;
  border-width: 2px;
  border-radius: 25px;
  padding: 10vh 15vw;
  height: 45vh;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  padding: 5vh 5vw;
  margin: 0 auto;
}

.bajadaNota {
  text-align: center;
  font-size: 1rem;
}

.notaBotonCrisis {
  color: #2b3bcd;
  background-color: white;
  border-color: #2b3bcd;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-items: center;
  margin-top: 4vh;
}

.botonNotas {
  color: #2b3bcd;
  background-color: white;
  border-color: #2b3bcd;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-items: center;
  margin-top: 4vh;
}

.autorNota {
  font-size: 1rem;
  padding: 1vh;
}

/*== tablet==*/

@media (min-width: 768px) {
  .notas {
    width: 100vw;
    height: 100vh;
    background-color: white;
  }

  .notasContainer {
    padding: 19vh 20vw;
    height: 90vh;
    color: #2b3bcd;
  }

  .notasItemContainer {
    height: 60vh;
  }
}
