.notas {
  width: 100vw;
  background-color: white;
  padding-top: 25vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
}

.nota {
  border: 2px inset #2b3bcd;
  border-radius: 25px;
  height: 45vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 5vw;
  color: #2b3bcd;
  gap: 1rem;
}

.nota h1 {
  font-size: 1.5rem;
}

.nota h4 {
  font-size: 1rem;
}

/*== tablet==*/

@media (min-width: 768px) {
  .notas {
    background-color: white;
  }

  .nota {
    height: 60vh;
  }
}