.footer {
  padding: 2vh 1rem;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3rem;
}

.footer>h6 {
  margin: 0
}

.desarrolladoX {
  color: blue;
  font-size: 0.7rem;
  text-align: center;
}

.edipo {
  text-align: center;
  width: 25px;
  color: black;
}

.version {
  font-size: 0.7rem;
}