.tipo {
    position: relative;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 50px;
    transition: background-color 1s, color 1s;
    height: 49px;
    width: 120px;
    overflow: hidden;
    padding: 10px;
    align-items: center;
    box-shadow: 0 0 10px 1px #222222aa inset;
    color: var(--radar-white);

}

.tipo.deactivated {
    color: var(--radar-black);
}

.tipoLabel {
    position: absolute;
    width: 72px;
    height: 30px;
    transition: left 1s;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    text-justify: none;
}

.tipo.deactivated .tipoLabel {
    left: 50%;
}


/*== Responsive==*/

/*== tablet==*/

@media (min-width: 768px) {

    .tipoLabel {}

}