.tipo {
    --transition-time: 0.5s;
    position: relative;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 50px;
    transition: background-color var(--transition-time), color var(--transition-time);
    height: 49px;
    width: 120px;
    overflow: hidden;
    padding: 10px;
    align-items: center;
    box-shadow: 0 0 10px 1px #222222aa inset;
    color: var(--radar-white);

}

.tipo.deactivated {
    color: var(--radar-black);
}

.tipoLabel {
    position: absolute;
    width: 70px;
    height: 30px;
    transition: left var(--transition-time);
    font-size: 9px;
    left: 10px;
    text-align: justify;
    text-justify: none;
    display: flex;
    align-items: center;
}

.tipo.deactivated .tipoLabel {
    left: 39%;
}

.switch {
    position: absolute;
    left: 68%;
    height: 32px;
    width: 32px;
    border-radius: 100px;
    transition: left var(--transition-time);
    border: 1px solid var(--radar-white);
    background: radial-gradient(circle at -10px -10px, #bababa 5%, var(--radar-white) 65%);
    box-shadow: 5px 0 10px #000000a0;



}

.tipo.deactivated .switch {
    left: 7px;
}