.filtros {
  padding: 3px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
}

.filtrosPorTipo {
  margin-top: 5px;
  padding: 5px 5px;
  background-color: white;
  color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: start;
  width: 50vw;
}


/*== Responsive==*/

/*== tablet==*/

@media (min-width: 768px) {

  .filtros {
    padding: 5px;
    padding-left: 15px;
  }

  .filtrosPorTipo {
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    text-align: center;
    min-width: 18vw;
    align-items: stretch;
  }
}