.filtros {
  padding: 20px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*== Responsive==*/

/*== tablet==*/
@media (min-width: 768px) {
  .filtros {
    padding: 5px;
    padding-left: 15px;
  }
}