.filtros {
  padding: 3px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
}

/*== Responsive==*/

/*== tablet==*/

@media (min-width: 768px) {

  .filtros {
    padding: 5px;
    padding-left: 15px;
  }
}