* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* TODO: Check whether this ID selector is used within the <Marker /> external component */
#markerLine {
  background-color: rgb(249, 38, 6);
  width: 1.5px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TODO: Check whether this class selector is used within the <Marker /> external component */
.marker:hover {
  background-color: rgb(52, 7, 7);
  /* Increase the size when hovered */
  transform: scale(1.5);
}
