* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#toMain2 {
  cursor: pointer;

}

#plusBoton{
  color: white;
}

#mapGap {
  height: 5vh;
  width: 100%;
}

#botonFiltrosMain{
  position: absolute;
  top: 15vh
}

#mapa{
  position: relative;
}

#masDatosPopup{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.App {
  background-color: white;
  text-align: center;
  width: 100vw;
  position: relative;
}

/* Resto de los estilos */
.transformed-button {
  position: absolute;
  z-index: 5000;
  background-color: white;
  color: white;
  top: 0vh;
  left: 2vw;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;


}

.transformed-button img {
  position: absolute;
  top: 0vh;
  left: 0vw;
  max-width: 8vw;
}

.simple-button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-decoration: none;
}

#closeButton {
  position: absolute;
  z-index: 1001;
  background-color: white;
  color: black;
  top: 0vh;
  left: 3vw;
  border: 10px solid white;
  border-radius: 10px;
}

#botonFiltrosMap{
  font-size: 1rem;
  color: #2b3bcd;
  padding: 0.5vh 1vw;
}



#markerLine {
  background-color: rgb(249, 38, 6);
  width: 1.5px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.marker:hover {
  background-color: rgb(52, 7, 7);
  transform: scale(1.5);
  /* Increase the size when hovered */
}

/*== Encabezado==*/
#heading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 80px;
  background-color: #00425a;
  color: #eff5f5;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  padding-right: 5px;
}


#mapa {
  background-color: #fff4ff;
}


#filtrosBottom {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.lower-floating-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 83vh;
  left: 4vw;
  z-index: 0;
  gap: 2vw;
}

#toMain2 {
  background-color: black;
  color: white;
  border-radius: 10px;
  right: 2vw;
  width: 12vw;
  z-index: 0;
  height: 7vh;
  border-radius: 20px;
  height: 10vh;
}

#plusBoton{
  padding-top: 3vh;
}




/*------responsive------*/


/*celus mas grandes*/
@media (min-width: 400px) {
  .popup {

    position: absolute;
    top: 65vh;
    left: 2vw;
    width: 96vw;
    height: 17vh;

    padding: 15px;
    padding-left: 25px;
    color: white;
    background-color: #2b3bcd;
    border: 1px solid white;
    border-radius: 30px;
    z-index: 1000;
    overflow: hidden;
    white-space: break-spaces;
  }


}

/*TV TABLET 768px*/
@media (min-width: 768px) {
  .lower-floating-buttons {
    position: absolute;
    top: 87vh;
    left: 30vw;
    width: 55vw;
    z-index: 0;
  }

  #filtrosBottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }



  #toMain2 {
    width: 10vw;
    height: 8vh;
  }

  #plusBoton{
    padding-top: 2vh;
  }
}




/*TV RESPONISVE 1200px*/
@media (min-width: 1200px) {


  #mapGap {
    height: 5vh;
    width: 100%;
  }

  .lower-floating-buttons {
    position: absolute;
    top: 80vh;
    left: 20vw;
    width: 69vw;
    z-index: 0;
  }


  #toMain2 {
    width: 8vw;
    height: 12vh;

  }

  #plusBoton{
    padding-top: 4vh;
  }


}
