.App {
  background-color: white;
  text-align: center;
  width: 100vw;
  position: relative;
}

.toSiteSummary {
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 10px;
  right: 2vw;
  width: 12vw;
  z-index: 0;
  height: 7vh;
  border-radius: 20px;
  height: 10vh;
}

.plusBoton {
  color: white;
  padding-top: 3vh;
}

.lower-floating-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 72vh;
  left: 4vw;
  /* TODO: este valor de index deberia ser alguna constante  definida*/
  z-index: 10000;
  gap: 2vw;
}

/*------responsive------*/

/*TV TABLET 768px*/
@media (min-width: 768px) {
  .lower-floating-buttons {
    position: absolute;
    top: 72vh;
    left: 30vw;
    width: 55vw;
    z-index: 0;
  }

  .toSiteSummary {
    width: 10vw;
    height: 8vh;
  }

  .plusBoton {
    padding-top: 2vh;
  }
}

/*TV RESPONISVE 1200px*/
@media (min-width: 1200px) {
  .lower-floating-buttons {
    position: absolute;
    top: 872h;
    left: 20vw;
    width: 69vw;
    z-index: 0;
  }

  .toSiteSummary {
    width: 8vw;
    height: 12vh;
  }

  .plusBoton {
    padding-top: 4vh;
  }
}