@font-face {
  font-family: "Ronnia Condensed Regular";
  src: url("./fonts/Ronnia/fonnts.com-Ronnia_Cond_Regular.otf") format("opentype");
}

@font-face {
  font-family: "Adelle Mono Light";
  src: url("./fonts/Adelle_Mono/Adelle_Mono_W03_Light.otf") format("opentype");
}

@font-face {
  font-family: "Adelle Mono Regular";
  src: url("./fonts/Adelle_Mono/Adelle_Mono_W03_Regular.otf") format("opentype");
}

@font-face {
  font-family: "Adelle Mono Semibold";
  src: url("./fonts/Adelle_Mono/Adelle_Mono_W05_Semibold.otf") format("opentype");
}

@font-face {
  font-family: "Adelle Mono Extrabold";
  src: url("./fonts/Adelle_Mono/Adelle_Mono_Flex_Extrabold.otf") format("opentype");
}

:root {
  font-family: 'Ronnia Condensed Regular', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Design system variables */
  --radar-black: #353242;
  --radar-grey: #a4aeb9;
  --radar-white: #fffffe;

  --radar-blue: #145bff;
  --radar-sky-blue: #6d82e1;
  --radar-background: #d2d7e5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

h3 {
  font-size: 10px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 10px;
}

h2 {
  font-size: 8px;
}

h5 {
  font-size: 5px;
}

button {
  cursor: pointer;
}

/* Make scrollbar the same across Chrome and Firefox */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F2F2F2;
}

::-webkit-scrollbar-thumb {
  background: #BDBDBD;
}

::-webkit-scrollbar-thumb:hover {
  background: #6E6E6E;
}

.popup-content {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border: 0 !important;
}

.popup-overlay {
  background: #000000e2 !important;
}


.maplibregl-ctrl-attrib {
  position: fixed !important;
  bottom: 2% !important;
  right: 10% !important;
  background: none !important;
  font-size: 7px;
}

.maplibregl-ctrl-attrib a {
  color: #a4aeb9 !important;
}