name: build
on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install modules
      run: yarn
    - name: Run build
      env:
        CASES_SPREADSHEET_ID: ${{ secrets.CASES_SPREADSHEET_ID }}
        COLORS_BY_TYPE_SPREADSHEET_ID: ${{ secrets.COLORS_BY_TYPE_SPREADSHEET_ID }}
      run: yarn build
